@import "./colors.scss";

$small-screen-size: 700px;

.wdc-challenge-generator-container {
  display: flex;
  flex-direction: column;
  color: $text-color-light;
  flex-grow: 1;
  height: 100%;

  justify-content: center;

  & .wdc-challenge-generator-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    & > h2 {
      text-transform: uppercase;
    }
  }

  & .wdc-challenge-generator-content {
    display: flex;
    padding: 0.3em 1em;
    align-items: baseline;

    flex-wrap: wrap;

    & .wdc-challenge-generator-generated-text {
      display: flex;
      flex-grow: 3;
      justify-content: flex-end;

      padding: 0.3em 1em;

      font-size: 1.5em;
      flex-basis: 0;

      @media screen and (max-width: $small-screen-size) {
        justify-content: center;
        text-align: center;
      }

      & .wdc-challenge-generator-character-text {
        font-size: 1.8em;
        color: $red-color;
      }
    }

    & .wdc-challenge-generator-actions {
      display: flex;
      flex-grow: 2;
      justify-content: flex-start;

      padding: 0.3em 1em;
      flex-basis: 0;

      @media screen and (max-width: $small-screen-size) {
        justify-content: center;
      }

      & > button {
        background-color: transparent;
        border-color: $red-color;
        text-align: center;
        color: $text-color-light;
        font-size: 1.2em;

        padding: 1em 1.8em;

        line-height: 1em;
        letter-spacing: 0.03em;
        text-decoration: none;

        text-transform: uppercase;
        font-weight: 200;
        transition: 0.7s;

        cursor: pointer;

        &:hover {
          border-color: transparent;
          background: $red-color;
        }
      }
    }
  }
}
