@import "./colors.scss";

.wdc-app-header {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  color: $text-color-light;

  box-shadow: 0px -2px 4px #8f8f8f;

  letter-spacing: 0.1em;
  word-spacing: 1em;

  text-transform: uppercase;
  background-color: $secondary-color;
}
